@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    font-family: "맑은 고딕";
}

body{
    width: 100%;
    height: 100%;
}

.kiosk_simulation{
    display:flex;
    justify-content: center;
    margin: 0;
}

.kiosk_background { /*검정 기계 배경*/
    width: 570px;
    height: 100vh;
    background-color: black;
    border-radius: 15px;
}

.kiosk_screen { /*터치스크린 배경*/
    width: 535px;
    height: 97vh;
    background-color: #f7f7f7;
    border-radius: 15px;
    margin: 16px;
    position: absolute;
    border: 1px solid red;
}

/* 처음 시작 화면*/
#start_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/start.jpg) no-repeat center / cover;
    border-radius: 15px;
}
#start_btn{
    width: 100%;
    height: 100%;
    opacity: 0.0; /*불투명도 지정*/
}

/*주문 화면*/
#order_bar{
    display: none;
}

/*상단부분*/
#top_bar{
    background: white;
    width: 100%;
    height: 4vh;

    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
}
#top_bar_home{}
#top_bar_name{}
#top_bar_help{}



.help{
    position: absolute;
    display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.help_body{
    position: absolute;

    top: 50%;

    width: 100%;
    height: 55%;  

    text-align: center;

    background: white;
    border-radius: 10px;

    transform: translateY(-50%);
}

.help_close{
    width: 25%;
    padding: 3px;

    font-weight: bold;
    
    background-color: yellow;
    border-radius: 5px;
    border: 2px solid black;
}

/*단계 부분*/
#step_bar{
    background: #5260AB;
    width: 100%;
    height: 5vh;

    color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
#step_bar_choice{
    height: 3vh;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #D2DCFA;
    color: black;
    padding: 5px 10px;

    text-align: center;
    
}
#step_bar_check{}
#step_bar_point{}
#step_bar_pay{}

/*메뉴바 부분*/
#menu_bar{
    background: #0f3192;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
}


#menu_bar_left{}
#menu_bar_right{}

/*메뉴 테이블 */
#menu_table{
    width: 100%;
    height: 76%;
    display: none;
    border: 2px solid rgb(44, 47, 255);
}

#row{
    display: flex;
    justify-content: space-between;
    
    width: 97%;
   
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
#row div{
    width: 24%;
    height: 23vh;
}

#right_btn{}
#left_btn{}

/*페이지 넘기는 것*/
#nextpage{
    width: 100%;
    height: 5%;
    background: #5260AB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    display: none;

    
}

#nextpage div {
    margin: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#first_page{
    width: 20%;
    height: 4vh;
    border-radius: 5px;
    background: #D2DCFA;
    position: absolute;
    right: 52%;
}
#second_page{
    width: 20%;
    height: 4vh;
    border-radius: 5px;
    background: #D2DCFA;
    position: absolute;
    left: 52%;
}

/* 장바구니 */

#pay{
    display: none;
}

#cart_btn{
    width: 25%;
    height: 3vh;
    text-align: center;
    padding-top: 4px;

    font-weight: bold;
    
    background-color: #0f3192;
    color: white;
    border-radius: 5px;
    border: 2px solid black;

    font-size: 18px;
    font-weight: bold;
}

#cart_modal{
    position: absolute;
    display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

#modal_body{
    position: absolute;

    top: 58%;

    width: 100%;
    height: 85%;  

    text-align: center;

    background: white;
    border-radius: 10px;

    transform: translateY(-50%);
}

#modal_body > h1 {
    width: 30%;
    font-size: 30px;
    background-color: #0f3192;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
}
#cart_close{
    width: 4%;
    position: relative;
    top: -38px; 
    left: 200px;
    padding: 3px;

    background: white;
    font-weight: bold;
    
    border-radius: 5px;
    border: 2px solid black;
}

#order_list{
    position: relative;
    top: -30px;

    width: 90%;
    height: 80%;

    background: #D2DCFA;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
}
#order_list div {
    height: 10%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
#order_list div div {
    height: 65%;
    text-align: center;

}

[class ^= "delete"] {
    width: 10%;
    background: gray;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
    
}
[class ^= "minus"] {
    width: 10%;
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight:bolder;
}
[class ^= "plus"] {
    width: 10%;
    background: orange;
    border-radius: 20%;
    color: white;
    font-weight: bolder;
}

#order_bottom{
    font-size: 20px;
    font-weight: bold;
}

#total{
    background-color: yellow;
    border-radius: 8px;
    width: 50%;
    height: 60px;
    float: left;
    
}

#pay_btn{
    background-color: red;
    border-radius: 8px;
    width: 50%;
    height: 60px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*결제창 배경*/

/*결제창*/

/*적립포인트*/

/*카드결제화면*/


